<h1>Zinsen für das Jahr <%= @year %></h1>

<% @contracts.each do |contract| %>
<div>
  <h2>Direktkreditvertrag Nr. <%= contract.number %>, <%= "#{contract.contact.prename} #{contract.contact.name}" %></h2>
  <b>Kontostand <%= DateTime.now.to_date %>:</b> 
  <%= currency(contract.balance DateTime.now.to_date) %><br/>
  <br/>
  <b>Zinsberechnung:</b><br/>
  <table>
    <tr>
      <th>Datum</th>
      <th>Vorgang</th>
      <th>Betrag</th>
      <th>Zinssatz</th>
      <th>verbleibende Tage im Jahr</th>
      <th>verbleibender Anzeil am Jahr</th>
      <th>Zinsen</th>
    </tr>
    <% interest, interest_calculation = contract.interest @year %>
    <% interest_calculation.each do |entry| %> 
    <tr>
      <td><%= entry[:date] %></td>
      <td><%= entry[:name] %></td>
      <td><%= currency(entry[:amount]) %></td>
      <td><%= fraction(entry[:interest_rate]) %></td>
      <td><%= entry[:days_left_in_year] %></td>
      <td><%= fraction(entry[:fraction_of_year]) %></td>
      <td><%= currency(entry[:interest]) %></td>
    </tr>
  <% end %> 
  </table>
  <br/>

  <b>Zinsen <%= @year %>: <%= currency(interest) %></b><br/>
  <br/><br/>
</div>
<% end %>


