<h1>Direktkreditverwaltung</h1>

<h2>Datenbanken</h3>

<h3>Personen</h3>
<%=link_to "Kontakte", contacts_path %>

<h3>Verträge</h3>
<%=link_to "Direktkreditverträge", contracts_path %>

<h3>Buchungen</h3>
<%=link_to "Alle Buchungen ", accounting_entries_path %>

<h2>Auswertungen</h2>
<%=link_to "Zinsen", contracts_interest_path %>

<h2>Dokumente</h2>

